<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기록</title>


<style>

    td.grey{
        color : grey;
    }
    td.red{
        color : red;
    }

    .sel-center{
        text-align-last: center;
        text-align: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
    }

</style>
</head>

<header th:replace="fragments/cm_top.html :: header('메모')"></header>

<body>

    <form id="frm" onsubmit="return false" enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" th:value="${id}"/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <select class="form-control sel-center" name="year" id="year">
                        <th:block th:each="num : ${#numbers.sequence(2019,2025)}" >
                            <option value="2021" th:value="${num}" th:text="|${num}년|" th:selected="${num} == ${year}"></option>
                        </th:block>
                    </select>
                    <br/>
                    <select class="form-control sel-center" name="month" id="month">
                        <th:block th:each="num : ${#numbers.sequence(1,12)}" >
                            <option th:value="${num}" th:text="|${num}월|" th:selected="${num} == ${month}" >12</option>
                        </th:block>
                    </select>
                    <br/>
                    <select class="form-control sel-center" name="day" id="day">
                        <th:block th:each="num : ${#numbers.sequence(1,31)}" >
                            <option th:value="${num}" th:text="|${num}일|" th:selected="${num} == ${day}">29</option>
                        </th:block>

                    </select>
                    <br/>
                </th>
            </tr>
        </thead>

            <tbody>
                <tr>
                    <td>
                        <h2>입금</h2>
                        <input type="text" class="form-control" name="companyprice" id="companyprice" th:value="${companyPrice}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>매출</h2>
                        <input type="text" class="form-control" name="myprice" id="myprice" th:value="${myPrice}">
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <h2 style="color: red;">합계</h2>
                         <span id="totalPrice"  th:text="${totalPrice}" ></span> 원
                    </td>
                </tr> -->
                <tr>
                    <td>
                         <button class="w-100 btn btn-primary btn-lg" onclick="save();"> 저장하기 </button>
                    </td>
                </tr>
            </tbody>
        <tbody>

        </tbody>
    </table>
    </form>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    var tempPrice = "";
    var year, month, day;

    $(document).ready(function () {
        $("#companyprice").keyup(function(){

            if ($("#myprice").val() =="") {
                $("#myprice").val('0');
            }

            total(deleteCommaConvertInt($("#companyprice").val()), deleteCommaConvertInt($("#myprice").val()));
            $(this).val(companypriceToString($(this).val()));
        });

        $("#companyprice").focus(function(){
            $(this).val('');
        });

        $("#myprice").keyup(function(){

            if ($("#companyprice").val() =="") {
                $("#companyprice").val('0');
            }

            total(deleteCommaConvertInt($("#companyprice").val()), deleteCommaConvertInt($("#myprice").val()));
            $(this).val(companypriceToString($(this).val()));
        });

        $("#myprice").focus(function(){
            $(this).val('');
        });

        // select box 연도, 월 변경
        $("#year").change(function(){
            year = $("#year").val();
            month = $("#month").val();
            day =  $("#day").val();
            location.href="/memo/write?year="+year+"&month="+month+"&day="+day;
        });

        $("#month").change(function(){
            year = $("#year").val();
            month = $("#month").val();
            day =  $("#day").val();
            location.href="/memo/write?year="+year+"&month="+month+"&day="+day;
        });
        $("#day").change(function(){
            year = $("#year").val();
            month = $("#month").val();
            day =  $("#day").val();
            location.href="/memo/write?year="+year+"&month="+month+"&day="+day;
        });


    });

    /*
        form 저장 및 전송
        param : 없음.
    */
    function save() {
    var data = {
        id: $("#id").val(),
        year: $("#year").val(),
        month: $("#month").val(),
        day: $("#day").val(),
        companyPrice: $("#companyprice").val().replaceAll(",", ""),
        myPrice: $("#myprice").val().replaceAll(",", "")
    };
        $.ajax({
            type: "post",
            url: "companyprice-write",
            processData: false,
            contentType: "application/json",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (response) {
                alert('저장 완료!');
            },error : function (e) {
                alert('에러발생.');
            }
        });

      }

    //천단위 콤마
	function companypriceToString(companyprice) {
        tempPrice = companyprice.toString().replaceAll(",","");
	    return tempPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    //콤마 제거, 정수형 변환
    function deleteCommaConvertInt(param) {
        return parseInt(param.replaceAll(",",""));
    }


    //총합 합계 구하기
    function total(company, my) {
        var total = parseInt(company) + parseInt(my);
        $("#totalPrice").text(companypriceToString(total));
    }


</script>